name: CI

on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - main
      
jobs:
  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:11-alpine
        ports:
          - "5432:5432"
        env:
          POSTGRES_DB: todo_app_test
          POSTGRES_USER: rails
          POSTGRES_PASSWORD: password
    env:
      RAILS_ENV: test
      DATABASE_URL: "postgres://rails:password@localhost:5432/todo_app_test"
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        
      - name: Install Ruby and gems
        uses: ruby/setup-ruby@8f312efe1262fb463d906e9bf040319394c18d3e # v1.92
        with:
          bundler-cache: true
        
      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: 16.13.1
      
      - name: Cache yarn dependencies
        uses: actions/cache@v2
        id: cache-dependencies
        with:
          path: node_modules
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install Dependencies
        if: steps.cache-dependencies.outputs.cache-hit != 'true'
        run: |
          yarn install --force --non-interactive --pure-lockfile
      
      - name: Run tests
        run: |
          bin/rails javascript:build
          bin/rails css:build
          bin/rails db:schema:load
          bin/rake
